header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

nav ul {
    list-style: none;
    padding: 0; margin: 0;
    float: right;
}

nav ul li {
    display: inline;
}

nav ul .nav-link {
    padding: 10px 20px;
    
}

#form-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#submit {
    padding: 5px 10px;
    margin: 10px 0;
    background-color: lightblue;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
}

#submit:hover {
    background-color: darkblue;
    color: white;
}